.container-lorem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  height: 500px;
}

.container-lorem h2{
    margin-bottom: 15px ;
}

.container-lorem p{
    margin-bottom: 20px ;
}