nav {
    background-color: #f8f9fa;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu a:hover {
    color: rgb(110, 100, 100);
    transition: 0.5s;
}